@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

header {
  background: #fff;
}

/* Hero */
.hero {
  background-size: cover;
  background-position: center;
}

.hero-home {
  background-image: url('/assets/images/hero_fire_2.jpeg');
}

.hero-menu {
  background-image: url('/assets/images/sfumato_oven.jpg');
}

.hero-wrapper h2 {
  font-size: 7em;
  padding-top: 133px; /* header height */
}

/* Nav */
.nav-link {
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-link:hover {
  color: rgb(184 184 184);
}
.nav-active {
  color: rgb(184 184 184);
}

/* Images */
section img.img-drop-shadow {
  filter: drop-shadow(6px 6px 4px rgb(67, 67, 67)) brightness(0.8);
}

/* Menu */
.menu {
  box-shadow: 0px 0px 4px rgb(205 214 210);
}
.menu-item {
  padding: 5px;
}

.menu-item img {
  width: 125px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.menu-item-header {
  font-size: 1.5em;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  justify-content: space-between;
}
/* Smaller screens */
@media (max-width: 768px) {
  /* .menu-item img {
    width: 75px;
    height: 125px;
  }
  .menu-item-header {
    font-size: 1.2em;
  } */
}

.menu-item-header .menu-item-price {
  font-size: .7em;
  color: #fff;
  background: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
} 