@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Your custom styles here */

body {
  min-width: 360px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header,nav {
  background: #fff;
  font-weight: 800;
}

/* Hero */
.hero {
  background-size: cover;
  background-position: center;
}

.home {
  background-image: url('/assets/images/hero_fire_2.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contact {
  background-image: url('/assets/images/sfumato_rest.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.menu {
  background-image: url('/assets/images/sfumato_oven.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-wrapper h2 {
  font-size: 7em;
  padding-top: 133px; /* header height */
}

/* Nav */
.nav-link {
  padding: 5px 10px;
  border-radius: 5px;
}
.nav-link:hover {
  color: rgb(184 184 184);
}
.nav-active {
  color: rgb(184 184 184);
}

/* Images */
img.img-drop-shadow {
  filter: drop-shadow(6px 6px 4px rgb(67, 67, 67)) brightness(0.8);
}

/* Menu */
.menu-item {
  padding: 5px;
}

.menu-item img {
  /* width: 125px; */
  /* height: 200px; */
  object-fit: cover;
  border-radius: 5px;
}

.menu-item-header {
  font-size: 1.5em;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  justify-content: space-between;
}


.menu-item-header .menu-item-price {
  font-size: .7em;
  color: #fff;
  background: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 5px;
} 


.menu-item-price-mobile {
  font-size: 1.5em;
  border-left: 2px solid rgb(0, 0, 0);
  padding: 5px 10px;
  /* height: 100%; */
  display: flex;
  align-items: center;
} 