@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles here */

/* Hero */
.hero {
  background-image: url('/assets/images/hero_fire_2.jpeg');
  background-size: cover;
  background-position: center;
}